<!DOCTYPE html>
<html lang="en">
<head>
    <title>Restaurant Live Poll</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Hammersmith+One|Lato" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script src="http://cdn.pubnub.com/pubnub-3.4.4.js"></script>
    <script type="text/javascript" src="http://pubnub.github.io/eon/v/eon/0.0.10/eon.js"></script>
    <link type="text/css" rel="stylesheet" href="http://pubnub.github.io/eon/v/eon/0.0.10/eon.css" />
    <link rel="stylesheet" href="/static/css/style.css" />

</head>
<body>
    <div class='polltopic'>
        <div class="container-fluid">
          <div class="row top-buffer">
            <div class="col-lg-4 offset-4 col-sm-8 col-md-6">
              <h1>LadyNerds Dinner Poll</h1>
            </div>
          </div>
          <div class ="row">
            <div class="col-xs-8 offset-4 col-sm-8 col-md-8 col-lg-8 left-buffer">
              <h4>Please vote on your favorite restaurant for our monthly catch-up dinner!</h4>
              <br>
              <button type="button" class="btn btn-default btn-md" data-toggle="modal" data-target="#restaurant-map">View Restaurants on Map</button>
            </div>
          </div>
        </div>
    </div>
    <br>
    <div id="poll"></div>
    <script src="/static/js/poll.js"></script>

{% include 'mapbox.html' %} 

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>