<html>
<head>
    <meta charset='utf-8' />
    <title></title>
    <meta name=’viewport’ content=’initial-scale=1,maximum-scale=1,user-scalable=no’ />
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.32.1/mapbox-gl.css' rel='stylesheet' />
    <script src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.js'></script>
    <link rel='stylesheet' href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v2.0.1/mapbox-gl-geocoder.css' type='text/css' />
    <style>
        body { margin:0; padding:0;}
        #map-container {
            height:500px;
        }
        .modal-body {
            padding: 0;
        }
    </style>
</head>
<body>

<div class="modal fade" id="restaurant-map" tabindex="-1" role="dialog" aria-labelledby="map-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title Cfont-1">Search Restaurants</h4>
            </div>
                <div class="modal-body">
                    <div id='map-container'>
                    </div>
                    <script>
                        mapboxgl.accessToken = 'pk.eyJ1IjoieXVzcmEiLCJhIjoiY2l6N2kwZGNhMDBoYzMybnlzcjd3cnJ6bSJ9.y0W2AKBv_pQIwr-Q-wJ9xg';
                        var maps = new mapboxgl.Map({
                            container: 'map-container',
                            style: 'mapbox://styles/mapbox/light-v9',
                            center: [-122.431297, 37.773972],
                            zoom: 12
                            });
                        maps.on('load', function () {

                            maps.addLayer({
                                "id": "points",
                                "type": "symbol",
                                "source": {
                                    "type": "geojson",
                                    "data": {
                                        "type": "FeatureCollection",
                                        "features": [{
                                            "type": "Feature",
                                            "geometry": {
                                                "type": "Point",
                                                "coordinates": [-122.432893, 37.797777]
                                            },
                                            "properties": {
                                                "title": "Palm House",
                                                "icon": "restaurant"
                                            }
                                        }, {
                                            "type": "Feature",
                                            "geometry": {
                                                "type": "Point",
                                                "coordinates": [-122.418055, 37.750888]
                                            },
                                            "properties": {
                                                "title": "La Taqueria",
                                                "icon": "restaurant"
                                            }
                                        }, {
                                            "type": "Feature",
                                            "geometry": {
                                                "type": "Point",
                                                "coordinates": [-122.419255, 37.756440]
                                            },
                                            "properties": {
                                                "title": "Foreign Cinema",
                                                "icon": "restaurant"
                                            }
                                        }, {
                                            "type": "Feature",
                                            "geometry": {
                                                "type": "Point",
                                                "cooridnates": [-122.412264, 37.787889]
                                            },
                                            "properties": {
                                                "title": "Fino Ristorante",
                                                "icon": "restaurant"
                                            }
                                        }]
                                    }
                                },
                                "layout": {
                                    "icon-image": "{icon}-15",
                                    "text-field": "{title}",
                                    "text-font": ["Open Sans Semibold", "Arial Unicode MS Bold"],
                                    "text-offset": [0, 0.6],
                                    "text-anchor": "top"
                                }
                            });
                        });
                        maps.addControl(new MapboxGeocoder({
                            accessToken: mapboxgl.accessToken
                        }));

                        function restaurantMap() {
                            $('#restaurant-map').show();
                            maps.resize();
                        }

                        $('#restaurant-map').on('shown.bs.modal', function() {
                            maps.resize();
                        });
                    </script>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
        </div>
    </div>
</div>

</body>
</html>
